In [77]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split


file_path = "DATASET.xlsx"

xls = pd.ExcelFile(file_path)
print("✅ Available sheets:", xls.sheet_names)

# Read both sheets
sheet1_df = pd.read_excel(file_path, sheet_name="Sheet1", header=0)
sheet2_df = pd.read_excel(file_path, sheet_name="Sheet2", header=0)
sheet3_df = pd.read_excel(file_path, sheet_name="yearly_rainfall", header=0)

sheet1_df.head(10)    #displaying read sheet1,2,3
print(sheet1_df.tail(10))
print(sheet2_df.head(10))

✅ Available sheets: ['Sheet1', 'Sheet2', 'yearly_rainfall']
    Serial No.     Year        Period Months_Covered  Period_Length  \
61          62  2023-24  Post-Monsoon        May–Jan              9
62          63  2023-24  Post-Monsoon        May–Jan              9
63          64  2023-24  Post-Monsoon        May–Jan              9
64          65  2023-24  Post-Monsoon        May–Jan              9
65          66  2023-24  Post-Monsoon        May–Jan              9
66          67  2023-24  Post-Monsoon        May–Jan              9
67          68  2023-24  Post-Monsoon        May–Jan              9
68          69  2023-24  Post-Monsoon        May–Jan              9
69          70  2023-24  Post-Monsoon        May–Jan              9
70          71  2023-24  Post-Monsoon        May–Jan              9

            District  No_of_HNS  Rise_<2m  Rise_<2m_%  Rise_2-4m  ...  \
61           Latehar          6         0        0.00          0  ...
62         Lohardaga         10         2       20.00          0  ...
63             Pakur          9         0        0.00          1  ...
64           Palamau          7         1       14.29          0  ...
65  Paschim Singbhum         14         1        7.14          1  ...
66    Purba Singbhum         24         4       16.67          0  ...
67           Ramgarh         15         0        0.00          0  ...
68            Ranchi         54         3        5.56          0  ...
69         Sahibganj         18         9       50.00          0  ...
70         Saraikela         11         0         NaN          0  ...

    Rise_>4m  Rise_>4m_%  Fall_<2m  Fall_<2m_%  Fall_2-4m  Fall_2-4m_%  \
61         0        0.00         3       50.00          1        16.67
62         0        0.00         4       50.00          3        37.50
63         2       22.22         1       11.11          3        33.33
64         0        0.00         5       71.43          0         0.00
65         0        0.00         6       42.86          5        35.71
66         0        0.00        15       62.50          5        20.83
67         0        0.00         5       33.33          9        60.00
68         0        0.00        24       47.06         24        47.06
69         1        5.56         6       33.33          2        11.11
70         1         NaN         5         NaN          4          NaN

    Fall_>4m  Fall_>4m_%  Total_Rise  Total_Fall
61         2       33.33           0         6.0
62         1       12.50           2         8.0
63         2       22.22           3         6.0
64         1       14.29           1         6.0
65         1        7.14           2        12.0
66         0        0.00           4        20.0
67         1        6.67           0        15.0
68         3        5.56           3        51.0
69         0        0.00          10         8.0
70         1         NaN           1         NaN

[10 rows x 21 columns]
   Serial No.        District       Date  Actual Rainfall (mm)  \
0           1          Ranchi 2024-06-01                 342.1
1           2         Dhanbad 2024-06-01                 310.5
2           3  East Singhbhum 2024-06-01                 365.2
3           4          Bokaro 2024-06-01                 298.7
4           5  West Singhbhum 2024-06-01                 370.4
5           6          Chatra 2024-06-01                 285.6
6           7         Deoghar 2024-06-01                 295.3
7           8           Dumka 2024-06-01                 312.7
8           9         Giridih 2024-06-01                 301.9
9          10           Godda 2024-06-01                 280.4

   Normal Rainfall (mm)  Departure (mm)
0                   280            62.1
1                   275            35.5
2                   290            75.2
3                   270            28.7
4                   295            75.4
5                   265            20.6
6                   268            27.3
7                   272            40.7
8                   270            31.9
9                   260            20.4

In [78]:
print(sheet1_df.describe())  #describing df
print(sheet2_df.describe())
print(sheet3_df.describe())

       Serial No.  Period_Length  No_of_HNS   Rise_<2m  Rise_<2m_%  Rise_2-4m  \
count   71.000000      71.000000  71.000000  71.000000   70.000000  71.000000
mean    36.000000       6.633803  14.450704   1.887324   11.944571   1.676056
std     20.639767       2.064942   9.804939   2.891116   13.066350   3.421673
min      1.000000       4.000000   5.000000   0.000000    0.000000   0.000000
25%     18.500000       4.000000   9.000000   0.000000    0.000000   0.000000
50%     36.000000       7.000000  11.000000   1.000000    8.010000   0.000000
75%     53.500000       9.000000  17.500000   2.500000   20.000000   2.000000
max     71.000000       9.000000  54.000000  19.000000   50.000000  23.000000

       Rise_2-4m_%   Rise_>4m  Rise_>4m_%   Fall_<2m  Fall_<2m_%  Fall_2-4m  \
count    70.000000  71.000000   70.000000  71.000000   70.000000  71.000000
mean     12.125000   2.154930   17.201429   3.450704   22.751143   3.436620
std      18.306066   3.236611   24.048914   4.331904   22.345245   4.575501
min       0.000000   0.000000    0.000000   0.000000    0.000000   0.000000
25%       0.000000   0.000000    0.000000   0.000000    0.000000   0.000000
50%       0.000000   0.000000    0.000000   2.000000   12.915000   2.000000
75%      19.545000   4.000000   32.997500   5.000000   42.860000   5.000000
max      66.670000  14.000000   80.000000  24.000000   71.430000  24.000000

       Fall_2-4m_%   Fall_>4m  Fall_>4m_%  Total_Rise  Total_Fall
count    70.000000  71.000000   70.000000   71.000000   70.000000
mean     22.683000   1.845070   13.705571    5.718310    8.714286
std      21.167071   2.945446   18.458790    8.117324    9.931859
min       0.000000   0.000000    0.000000    0.000000    0.000000
25%       0.000000   0.000000    0.000000    1.000000    1.000000
50%      22.220000   1.000000    5.720000    2.000000    7.500000
75%      36.270000   3.000000   22.022500    8.500000   12.000000
max      80.000000  16.000000   66.670000   52.000000   52.000000
       Serial No.                           Date  Actual Rainfall (mm)  \
count  178.000000                            178            178.000000
mean    89.500000  2025-01-12 02:25:37.078651648            179.084831
min      1.000000            2024-06-01 00:00:00             12.800000
25%     45.250000            2024-08-01 00:00:00             20.700000
50%     89.500000            2025-02-01 00:00:00            100.700000
75%    133.750000            2025-05-01 00:00:00            338.000000
max    178.000000            2025-08-01 00:00:00            460.800000
std     51.528309                            NaN            158.428786

       Normal Rainfall (mm)  Departure (mm)
count            178.000000      177.000000
mean             149.185393       29.680226
min               11.000000        1.500000
25%               18.000000        3.400000
50%               89.000000       12.100000
75%              280.000000       56.400000
max              335.000000      127.600000
std              128.577152       33.926950
              YEAR  ACTUAL (mm)  NORMAL (mm)  DEPARTURE (mm)
count    12.000000    12.000000    12.000000       12.000000
mean   2018.500000   914.316667  1065.350000      -14.166667
std       3.605551   107.561499    30.114463        9.897964
min    2013.000000   751.300000  1022.900000      -28.000000
25%    2015.750000   838.075000  1046.750000      -20.750000
50%    2018.500000   916.350000  1073.300000      -14.500000
75%    2021.250000   993.100000  1091.900000       -7.750000
max    2024.000000  1101.800000  1091.900000        1.000000

In [79]:
sheet1_df=sheet1_df.drop_duplicates()  # deleting duplicates if any
sheet2_df=sheet2_df.drop_duplicates()
sheet3_df=sheet3_df.drop_duplicates()

In [80]:
print(sheet2_df.columns.tolist())
sheet2_df["Date"]=pd.to_datetime(sheet2_df["Date"],errors="coerce")

['Serial No.', 'District', 'Date', 'Actual Rainfall (mm)', 'Normal Rainfall (mm)', 'Departure (mm)']

In [81]:
print(sheet1_df['District'].unique())  # to determine spelling mistake in district columns
print(sheet2_df['District'].unique())

correction={"Devghar":"Deoghar"}
sheet1_df['District']=sheet1_df['District'].replace(correction)

['Bokaro' 'Chatra' 'Deoghar' 'Dhanbad' 'Dumka' 'Garhwa' 'Giridih' 'Godda'
 'Gumla' 'Hazaribag' 'Jamtara' 'Khunti' 'Koderma' 'Latehar' 'Lohardaga'
 'Pakur' 'Palamau' 'Paschim Singbhum' 'Purba Singbhum' 'Ramgarh' 'Ranchi'
 'Sahebganj' 'Saraikela' 'Simdega' 'Sahibganj']
['Ranchi' 'Dhanbad' 'East Singhbhum' 'Bokaro' 'West Singhbhum' 'Chatra'
 'Deoghar' 'Dumka' 'Giridih' 'Godda' 'Gumla' 'Hazaribagh' 'Jamtara'
 'Khunti' 'Koderma' 'Latehar' 'Lohardaga' 'Pakur' 'Palamu' 'Ramgarh'
 'Sahibganj' 'Saraikela' 'Simdega' 'Garhwa']

In [110]:
# check category distributions.String/text data converted to numeric
#columns are district,year,month-covered,period,category etc

# text to numeric using mapping
def clean_df(df):

    for col in df.columns:
        if df[col].dtype in ['int64','float64']:
            df[col]=pd.to_numeric(df[col],errors="coerce")
            df[col]=df[col].fillna(df[col].mean())
            df.loc[df[col]<0,col]=0
            df[col]=df[col].round(2)
        else:
            df[col]=df[col].fillna(df[col].mode()[0])
            df[col]=df[col].astype(str).str.strip().str.lower()
    return df


sheet1_cleaned = clean_df(sheet1_df.copy())
sheet2_cleaned = clean_df(sheet2_df.copy())
sheet3_cleaned = sheet3_df.copy()


year_mapping={
    "2020-21":2021,
    "2021-22":2022,
    "2022-23":2023,
    "2023-24":2024
}

sheet1_cleaned["Year"]=sheet1_cleaned["Year"].map(year_mapping)

period_mapping={
    "pre-monsoon":0,
    "monsoon":1,
    "post-monsoon":2
}

sheet1_cleaned["Period"]=sheet1_cleaned["Period"].map(period_mapping)

#month done through encode since range varies
from sklearn.preprocessing import LabelEncoder

encoder_months=LabelEncoder()
sheet1_cleaned["Months_Covered"]=encoder_months.fit_transform(sheet1_cleaned["Months_Covered"])


combined_districts = pd.concat([
    sheet1_cleaned["District"],
    sheet2_cleaned["District"]
])

encoder = LabelEncoder()
encoder.fit(combined_districts)

# Now encode using the same encoder
sheet1_cleaned["District"] = encoder.transform(sheet1_cleaned["District"])
sheet2_cleaned["District"] = encoder.transform(sheet2_cleaned["District"])

#sheet3
category_mapping={
     "SCANTY":0,
     "DEFICIENT":1,
     "NORMAL":2,
     "EXCESS":3
}
sheet3_cleaned["CATEGORY"]=sheet3_cleaned["CATEGORY"].map(category_mapping)

#year storing as numeric
sheet3_cleaned["YEAR"]=pd.to_numeric(sheet3_df["YEAR"],errors="coerce").astype(int)


sheet3_cleaned=sheet3_cleaned.rename(columns={"ACTUAL (mm)":"Yearly_Actual_mm",
                                    "NORMAL (mm)":"Yearly_Normal_mm",
                                    "DEPARTURE (mm)":"Yearly_Departure_mm",
                                    "CATEGORY":"Yearly_Category"})

print(sheet2_cleaned.head(10))

   District        Date  Actual Rainfall (mm)  Normal Rainfall (mm)  \
0        23  2024-06-01                 342.1                   280
1         3  2024-06-01                 310.5                   275
2         5  2024-06-01                 365.2                   290
3         0  2024-06-01                 298.7                   270
4        28  2024-06-01                 370.4                   295
5         1  2024-06-01                 285.6                   265
6         2  2024-06-01                 295.3                   268
7         4  2024-06-01                 312.7                   272
8         7  2024-06-01                 301.9                   270
9         8  2024-06-01                 280.4                   260

   Departure (mm)  Year
0            62.1  2024
1            35.5  2024
2            75.2  2024
3            28.7  2024
4            75.4  2024
5            20.6  2024
6            27.3  2024
7            40.7  2024
8            31.9  2024
9            20.4  2024

In [84]:
#feature eng columns are added

# --- Sheet1 (Groundwater) ---
sheet1_cleaned["Net_GW_Change"] = sheet1_cleaned["Total_Rise"] - sheet1_cleaned["Total_Fall"]

# --- Sheet2 (Monthly Rainfall) ---
sheet2_cleaned["Rainfall_Anomaly"] = sheet2_cleaned["Actual Rainfall (mm)"] - sheet2_cleaned["Normal Rainfall (mm)"]
sheet2_cleaned["Rainfall_Ratio"] = sheet2_cleaned["Actual Rainfall (mm)"] / (sheet2_cleaned["Normal Rainfall (mm)"] + 1e-5)

# --- Sheet3 (Yearly Rainfall) ---
sheet3_cleaned = sheet3_cleaned.sort_values("YEAR")
sheet3_cleaned["Yearly_Anomaly"] = sheet3_cleaned["Yearly_Actual_mm"] - sheet3_cleaned["Yearly_Normal_mm"]
sheet3_cleaned["Yearly_Ratio"] = sheet3_cleaned["Yearly_Actual_mm"] / (sheet3_cleaned["Yearly_Normal_mm"] + 1e-5)
sheet3_cleaned["Prev_Year_Rainfall"] = sheet3_cleaned["Yearly_Actual_mm"].shift(1)
sheet3_cleaned["Rainfall_3yr_Avg"] = sheet3_cleaned["Yearly_Actual_mm"].rolling(3, min_periods=1).mean()

In [137]:

rainfall_agg = sheet2_cleaned.groupby(["District", "Year"]).agg({
    "Actual Rainfall (mm)": "mean",
    "Normal Rainfall (mm)": "mean",
    "Departure (mm)": "mean"
}).reset_index()


sheet1_cleaned["Year"] = sheet1_cleaned["Year"].astype(int)
rainfall_agg["Year"] = rainfall_agg["Year"].astype(int)

sheet1_cleaned["District"] = sheet1_cleaned["District"].astype(int)
rainfall_agg["District"] = rainfall_agg["District"].astype(int)

# Merge
merged_df = pd.merge(sheet1_cleaned, rainfall_agg, on=["District", "Year"], how="inner")

# View result
print(merged_df.shape)
print(merged_df.head())

# Step 4: Merge
merged_df = pd.merge(sheet1_cleaned, rainfall_agg, on=["District", "Year"], how="inner")


# Step 5: View
print(merged_df.head())

merged_df.to_excel("processed_data.xlsx", index=False)
print("✅ Merge complete. Saved as merged_data.xlsx")

(57, 24)
   Serial No.  Year  Period  Months_Covered  Period_Length  District  \
0           1  2024       0               0              4         0
1           2  2024       0               0              4         1
2           3  2024       0               0              4         2
3           4  2024       0               0              4         3
4           5  2024       0               0              4         4

   No_of_HNS  Rise_<2m  Rise_<2m_%  Rise_2-4m  ...  Fall_<2m_%  Fall_2-4m  \
0         14         4       28.57          4  ...        7.14          0
1         11         5       45.45          2  ...        0.00          1
2         10         4       40.00          5  ...        0.00          0
3         17         6       35.29          5  ...        5.88          0
4          8         1       12.50          5  ...        0.00          0

   Fall_2-4m_%  Fall_>4m  Fall_>4m_%  Total_Rise  Total_Fall  \
0         0.00         0        0.00          13         1.0
1         9.09         0        0.00          10         1.0
2         0.00         0        0.00          10         0.0
3         0.00         1        5.88          15         2.0
4         0.00         0        0.00           8         0.0

   Actual Rainfall (mm)  Normal Rainfall (mm)  Departure (mm)
0                332.30                 284.0           48.30
1                313.20                 275.0           38.20
2                327.75                 279.0           48.75
3                345.50                 287.5           58.00
4                349.20                 285.0           64.20

[5 rows x 24 columns]
   Serial No.  Year  Period  Months_Covered  Period_Length  District  \
0           1  2024       0               0              4         0
1           2  2024       0               0              4         1
2           3  2024       0               0              4         2
3           4  2024       0               0              4         3
4           5  2024       0               0              4         4

   No_of_HNS  Rise_<2m  Rise_<2m_%  Rise_2-4m  ...  Fall_<2m_%  Fall_2-4m  \
0         14         4       28.57          4  ...        7.14          0
1         11         5       45.45          2  ...        0.00          1
2         10         4       40.00          5  ...        0.00          0
3         17         6       35.29          5  ...        5.88          0
4          8         1       12.50          5  ...        0.00          0

   Fall_2-4m_%  Fall_>4m  Fall_>4m_%  Total_Rise  Total_Fall  \
0         0.00         0        0.00          13         1.0
1         9.09         0        0.00          10         1.0
2         0.00         0        0.00          10         0.0
3         0.00         1        5.88          15         2.0
4         0.00         0        0.00           8         0.0

   Actual Rainfall (mm)  Normal Rainfall (mm)  Departure (mm)
0                332.30                 284.0           48.30
1                313.20                 275.0           38.20
2                327.75                 279.0           48.75
3                345.50                 287.5           58.00
4                349.20                 285.0           64.20

[5 rows x 24 columns]
✅ Merge complete. Saved as merged_data.xlsx

In [ ]:
import pandas as pd

output_file = "processed_data.xlsx"

# sheet3_cleaned appended at merged_data 
with pd.ExcelWriter(output_file, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
    sheet3_cleaned.to_excel(writer, sheet_name="Sheet2", index=False)

print("✅ 'Sheet3_Cleaned' added to 'merged_data.xlsx'")

✅ 'Sheet3_Cleaned' added to 'merged_data.xlsx'